In [1]:
#conda install -c conda-forge jupyterthemes
#pip install jupyterthemes
#pip install --upgrade jupyterthemes
#!jt -t oceans16
#!jt -r
#pip uninstall jupyterthemes

#### print  anything python_w3

In [3]:
print("hello world")

hello world

#### IF ElSE + comment

In [11]:
if 5> 20:
    print("5 is big")
else: #comment it is
    print("20 is big")

20 is big

### VARIABLES

##### Know the type of a Variable  + Change the type

In [35]:
x = 4 # here x is a variable
print(x)
y = "4"
print(y)
#x = "john"
print(x)
x = str(x)
print(type(x)) #TO FIND VARIABLE TYPE

4
4
4
<class 'str'>

##### types to write a vairable name

In [36]:
myVariableName = "Camel Case"
MyVariableName = "Pascal Case"
my_variable_name = "Snake Case"

##### assign multiple values

In [37]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y) Almost before
print(z)

Orange
Banana
Cherry

##### one value -> multiple variable

In [38]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

##### Collection

In [39]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

##### Combining variables

In [47]:
x = "BANG"
y = "bang"
print("Python is " + x +" "+ y)

Python is BANG bang

##### Global variables

In [52]:
x = "awesome" # global

def myfunc():
    x = "fantastic" # local
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [1]:
x = "awesome" # global
print("Python is " + x)

def myfunc():
    y = "cool" # local
    global x
    x = "fantastic" #global inside funct
    print("Python is " + x)
    print("Python is " + y)
myfunc()
print("Python is " + x)

Python is awesome
Python is fantastic
Python is cool
Python is fantastic


#### data types

In [2]:
# Text Type:str
# Numeric Types:int, float, complex
# Sequence Types:list, tuple, range
# Mapping Type:dict
# Set Types:set, frozenset
# Boolean Type:bool
# Binary Types:bytes, bytearray, memoryview

###### setting data type

In [9]:
a = str("Hello World")
print(a)
print(type(a))

b = int(20)
print(b)
print(type(b))

c = float(20.5)
print(c)
print(type(c))

d = complex(1j)
print(d)
print(type(d))

e = list(("apple", "banana", "cherry"))
print(e)
print(type(e))

f = tuple(("apple", "banana", "cherry"))
print(f)
print(type(f))

g = range(6)
print(g)
print(type(g))

h = dict(name="John", age=36)
print(h)
print(type(h))

i = set(("apple", "banana", "cherry"))
print(i)
print(type(i))

j = frozenset(("apple", "banana", "cherry"))
print(j)
print(type(j))

k = True
print(k)
print(type(k))

l = b"Hello"
print(l)
print(type(l))

o = bool(5)
print(o)

m = bytearray(5)
print(m)
print(type(m))

n = memoryview(bytes(5))
print(n)
print(type(n))

Hello World
<class 'str'>
20
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'John', 'age': 36}
<class 'dict'>
{'cherry', 'apple', 'banana'}
<class 'set'>
frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>
True
<class 'bool'>
b'Hello'
<class 'bytes'>
True
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x000001A7C1520DC0>
<class 'memoryview'>

###### python numbers

In [16]:
x = 1
y = 2.8
z = 1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

###### convertion

In [17]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

###### random

In [19]:
import random

print(random.randrange(1, 10))

2

###### specify

In [22]:
x = int(1)  
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [23]:
x = float(1)     
y = float(2.8)   
z = float("3")   
w = float("4.2") 
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [24]:
x = str("s1") 
y = str(2)    
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

In [28]:
a = "Hello"
print(a)

Hello

In [32]:
a = "Hello, World!"
print(a[1])

e

In [34]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [35]:
a = "Hello, World!"
print(len(a))

13

In [36]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [37]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [38]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [39]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

###### Slicing

In [40]:
b = "Hello, World!"
print(b[2:5])

llo

###### Slice from the Start

In [41]:
b = "Hello, World!"
print(b[:5])

Hello

###### Slice to the End

In [44]:
b = "Hello, World!"
print(b[2:])

llo, World!

###### Negative Indexing

In [43]:
b = "Hello, World!"
print(b[-5:-2])

orl

###### Upper case

In [45]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

###### Lower Case

In [46]:
a = "Hello, World!"
print(a.lower())

hello, world!

###### Remove Whitespace

In [47]:
a = " Hello, World! "
print(a.strip())

Hello, World!

###### Replace string

In [48]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

###### Split string

In [2]:
a = "Hello, World!"
x = a.split(",")
print(a.split(","))
print(type(x))

['Hello', ' World!']
<class 'list'>

###### String Concatenation

In [52]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [53]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

###### Format Strings

In [5]:
#we cannot combine strings and numbers
#But we can combine strings and numbers by using the format() method!

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [7]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

###### Escape Characters

In [9]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [12]:
# \'   Single Quote
# \\   Backslash
# \n   New Line
# \r   Carriage Return
# \t   Tab
# \b   Backspace
# \f   Form Feed
# \ooo Octal value
# \xhh Hex value

###### String Method

In [13]:
#All string methods returns new values. They do not change the original string.

>**capitalize()**	Converts the first character to upper case

>**casefold()**	Converts string into lower case

>**center()**	Returns a centered string

>**count()**	Returns the number of times a specified value occurs in a string

>**encode()**	Returns an encoded version of the string

>**endswith()**	Returns true if the string ends with the specified value

>**expandtabs()**	Sets the tab size of the string

>**find()**	Searches the string for a specified value and returns the position of where it was found

>**format()**	Formats specified values in a string

>**format_map()**	Formats specified values in a string

>**index()**	Searches the string for a specified value and returns the position of where it was found

>**isalnum()**	Returns True if all characters in the string are alphanumeric

>**isalpha()**	Returns True if all characters in the string are in the alphabet

>**isdecimal()**	Returns True if all characters in the string are decimals

>**isdigit()**	Returns True if all characters in the string are digits

>**isidentifier()**	Returns True if the string is an identifier

>**islower()**	Returns True if all characters in the string are lower case

>**isnumeric()**	Returns True if all characters in the string are numeric

>**isprintable()**	Returns True if all characters in the string are printable

>**isspace()**	Returns True if all characters in the string are whitespaces

>**istitle()**	Returns True if the string follows the rules of a title

>**isupper()**	Returns True if all characters in the string are upper case

>**join()**	Joins the elements of an iterable to the end of the string

>**ljust()**	Returns a left justified version of the string

>**lower()**	Converts a string into lower case

>**lstrip()**	Returns a left trim version of the string

>**maketrans()**	Returns a translation table to be used in translations

>**partition()**	Returns a tuple where the string is parted into three parts

>**replace()**	Returns a string where a specified value is replaced with a specified value

>**rfind()**	Searches the string for a specified value and returns the last position of where it was found

>**rindex()**	Searches the string for a specified value and returns the last position of where it was found

>**rjust()**	Returns a right justified version of the string

>**rpartition()**	Returns a tuple where the string is parted into three parts

>**rsplit()**	Splits the string at the specified separator, and returns a list

>**rstrip()**	Returns a right trim version of the string

>**split()**	Splits the string at the specified separator, and returns a list

>**splitlines()**	Splits the string at line breaks and returns a list

>**startswith()**	Returns true if the string starts with the specified value

>**strip()**	Returns a trimmed version of the string

>**swapcase()**	Swaps cases, lower case becomes upper case and vice versa

>**title()**	Converts the first character of each word to upper case

>**translate()**	Returns a translated string

>**upper()**	Converts a string into upper case

>**zfill()**	Fills the string with a specified number of 0 values at the beginning

###### Booleans

In [15]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [16]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [18]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [20]:
#Almost any value is evaluated to True if it has some sort of content.
#Any string is True, except empty strings.
#Any number is True, except 0.
#Any list, tuple, set, and dictionary are True, except empty ones.

bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [25]:
#In fact, there are not many values that evaluate to F, except empty values, 
#such as (), [], {}, "", the number 0, and the value None. 
#And of course the value False evaluates to False.
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [28]:
#if you have an object that is made from a class with a __len__ function that returns 0 or False
class myclass():
    def __len__(self):
        return 0

myobj = myclass()
print(bool(myobj))

False

###### Functions returning Boolean

In [30]:
def myFunction() :
    return True

print(myFunction())

True

In [31]:
def myFunction() :
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [32]:
x = 200
print(isinstance(x, int))

True

### Operators

* Arithmetic operators

In [16]:
print(20+30)
print(30-15)
print(2*3)
print(6/3)
print(5%2)
print(2**2)
print(5//2)

50
15
6
2.0
1
4
2

* Assignment operators

In [46]:
x   =    30;    print(x)
x   +=   3;    print(x)
x   -=   3;    print(x)
x   *=   3;    print(x)
x   /=   3;    print(x)
x   **=  3;    print(x)
x    =   115
x   %=   3;    print(x)
x   =  115
x   //=  3;    print(x)

x   &=   3;    print(x)
x   |=   3;    print(x)
x   ^=   3;    print(x)
x   >>=  3;    print(x)
x   <<=  3;    print(x)

30
33
30
90
30.0
27000.0
1
38
2
3
0
0
0

* Comparison operators

In [53]:
x = 5; y = 10; 
print(x == y)
print(x != y)
print(x  > y)
print(x <  y)
print(x <= y)
print(x >= y)

False
True
False
True
True
False

* Logical operators

In [2]:
x = 5; y = 10; 
x < 5 and  x < 10

False

In [3]:
x < 5 or x < 4

False

In [4]:
not(x < 5 and x < 10)

True

 * Identity operators

In [60]:
x is y

False

In [61]:
x is not y

True

* Membership operators

In [69]:
a = [1, 2, 3, 4, 5]
x in a

True

In [70]:
y not in a

True

* Bitwise operators

& 	AND	Sets each bit to 1 if both bits are 1

|	OR	Sets each bit to 1 if one of two bits is 1

 ^	XOR	Sets each bit to 1 if only one of two bits is 1
 
~ 	NOT	Inverts all the bits

<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off

\>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

>**4 Data Types**
>>List
>>
>>Tuples
>>
>>Sets
>>
>>Dictionaries

### Lists

In [7]:
mylist =  ["apple", "banana", "cherry", "apple", "cherry"]
print(mylist)
print(len(mylist))

['apple', 'banana', 'cherry', 'apple', 'cherry']
5

In [8]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]
print(list4)
print(type(list4))

['abc', 34, True, 40, 'male']
<class 'list'>

In [9]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

###### access list items

In [10]:
list5 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list5[4])
print(list5[-1])
print(list5[2:5])
print(list5[:4])
print(list5[2:])
print(list5[-4:-1])

if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

kiwi
mango
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
Yes, 'apple' is in the fruits list

###### change list items

In [11]:
list5[4] = "macho"; print(list5)

['apple', 'banana', 'cherry', 'orange', 'macho', 'melon', 'mango']

In [12]:
list5[1:3] = ["blackcurrant", "watermelon"]
print(list5)

['apple', 'blackcurrant', 'watermelon', 'orange', 'macho', 'melon', 'mango']

In [13]:
list5[1:2] = ["currant", "water"]
print(list5)

['apple', 'currant', 'water', 'watermelon', 'orange', 'macho', 'melon', 'mango']

In [14]:
list5[1:3] = ["blackie"]
print(list5)

['apple', 'blackie', 'watermelon', 'orange', 'macho', 'melon', 'mango']

In [15]:
list5.insert(2, "quack")
print(list5)

['apple', 'blackie', 'quack', 'watermelon', 'orange', 'macho', 'melon', 'mango']

###### Add List Items

In [16]:
list5.append("orange")
print(list5)

['apple', 'blackie', 'quack', 'watermelon', 'orange', 'macho', 'melon', 'mango', 'orange']

In [17]:
list5.insert(1, "orange")
print(list5)

['apple', 'orange', 'blackie', 'quack', 'watermelon', 'orange', 'macho', 'melon', 'mango', 'orange']

In [18]:
tropical = ["mango", "pineapple", "papaya"]
list5.extend(tropical)
print(list5)

['apple', 'orange', 'blackie', 'quack', 'watermelon', 'orange', 'macho', 'melon', 'mango', 'orange', 'mango', 'pineapple', 'papaya']

In [19]:
thistuple = ("kiwi", "orange")
list5.extend(thistuple)
print(list5)

['apple', 'orange', 'blackie', 'quack', 'watermelon', 'orange', 'macho', 'melon', 'mango', 'orange', 'mango', 'pineapple', 'papaya', 'kiwi', 'orange']

In [20]:
list5.remove("orange")
print(list5)

['apple', 'blackie', 'quack', 'watermelon', 'orange', 'macho', 'melon', 'mango', 'orange', 'mango', 'pineapple', 'papaya', 'kiwi', 'orange']

In [21]:
list5.pop(1)
print(list5)

['apple', 'quack', 'watermelon', 'orange', 'macho', 'melon', 'mango', 'orange', 'mango', 'pineapple', 'papaya', 'kiwi', 'orange']

In [22]:
list5.pop()
print(list5) #removes the last item

['apple', 'quack', 'watermelon', 'orange', 'macho', 'melon', 'mango', 'orange', 'mango', 'pineapple', 'papaya', 'kiwi']

In [23]:
del list5[0]
print(list5)

['quack', 'watermelon', 'orange', 'macho', 'melon', 'mango', 'orange', 'mango', 'pineapple', 'papaya', 'kiwi']

In [25]:
list_copy = list5.copy()
del list_copy
#print(list_copy)
print(list5)

['quack', 'watermelon', 'orange', 'macho', 'melon', 'mango', 'orange', 'mango', 'pineapple', 'papaya', 'kiwi']

In [26]:
list_copy = list5.copy()
list_copy.clear()
print(list_copy)
print(list5)

[]
['quack', 'watermelon', 'orange', 'macho', 'melon', 'mango', 'orange', 'mango', 'pineapple', 'papaya', 'kiwi']

###### Loop List

In [27]:
thislist = ["apple", "banana", "cherry"] # Loop Through a List
for x in thislist: 
    print(x)

apple
banana
cherry

In [28]:
thislist = ["apple", "banana", "cherry"] # Loop Through the Index Numbers
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [29]:
thislist = ["apple", "banana", "cherry"] # Using a While Loop
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [30]:
thislist = ["apple", "banana", "cherry"] # Looping Using List Comprehension
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

###### List Comprehension

In [31]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [32]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

##### Syntax

 newlist = [expression **for** item **in** iterable **if** condition == **True**]

In [33]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [34]:
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

##### Iterable

In [35]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

##### Expression

In [37]:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [38]:
newlist = ['hello' for x in fruits] # settings all values to hello in list
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [39]:
newlist = [x if x != "banana" else "orange" for x in fruits] # Return "orange" instead of "banana"
print(newlist)
# "Return the item if it is not banana, if it is banana return orange"

['apple', 'orange', 'cherry', 'kiwi', 'mango']

##### Sort Lists

In [40]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort() 
print(thislist)
# sort() method that will sort the list alphanumerically, ascending, by default

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [41]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

###### Sort descending

In [42]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [43]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

###### Customize sort Function

In [44]:
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

###### Case Insensitive Sort

In [45]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [46]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

###### Reverse Order

In [47]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

###### copy list

In [48]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [49]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

###### Join List

In [50]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [52]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [53]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

##### List Method

>**append()**	Adds an element at the end of the list
>
>**clear()**	Removes all the elements from the list
>
>**copy()**	Returns a copy of the list
>
>**count()**	Returns the number of elements with the specified value
>
>**extend()**	Add the elements of a list (or any iterable), to the end of the current list
>
>**index()**	Returns the index of the first element with the specified value
>
>**insert()**	Adds an element at the specified position
>
>**pop()**	Removes the element at the specified position
>
>**remove()**	Removes the item with the specified value
>
>**reverse()**	Reverses the order of the list
>
>**sort()**	Sorts the list

### Tuples

>Tuples are used to store multiple items in a single variable.

>A tuple is a collection which is **ordered**(*it means that the items have a defined order, and that order will not change*) and **unchangeable**(*meaning that we cannot change, add or remove items after the tuple has been created*) and allow **duplicate values**.

>Tuples are written with round brackets.

In [59]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
print(len(thistuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
5

In [60]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [64]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")
print(type(tuple4))

<class 'tuple'>

In [65]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

##### Access Tuple Items

In [75]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[1])
print(thistuple[-1])
print(thistuple[2:5])
print(thistuple[:4])
print(thistuple[2:])
print(thistuple[-4:-1])


if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

banana
mango
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')
Yes, 'apple' is in the fruits tuple

##### Update Tuples

###### Change Tuple Values

In [76]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

###### Add Items

In [78]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [79]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

##### Remove Items

In [82]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [84]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

###### Unpack Tuples

In [85]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [86]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [87]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

##### Loop

In [88]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

##### Loop through Index

In [89]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

##### While Loop

In [91]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

##### Join Tuples

In [92]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

###### Multiply Tuples

In [93]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

###### Tuple Methods

>**count()**	Returns the number of times a specified value occurs in a tuple
>
>**index()**	Searches the tuple for a specified value and returns the position of where it was found