#### print  anything

In [1]:
print("hello world")

hello world

#### IF ElSE + comment

In [11]:
if 5> 20:
    print("5 is big")
else: #comment it is
    print("20 is big")

20 is big

### VARIABLES

##### Know the type of a Variable  + Change the type

In [35]:
x = 4 # here x is a variable
print(x)
y = "4"
print(y)
#x = "john"
print(x)
x = str(x)
print(type(x)) #TO FIND VARIABLE TYPE

4
4
4
<class 'str'>

##### types to write a vairable name

In [36]:
myVariableName = "Camel Case"
MyVariableName = "Pascal Case"
my_variable_name = "Snake Case"

##### assign multiple values

In [37]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

##### one value -> multiple variable

In [38]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

##### Collection

In [39]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

##### Combining variables

In [47]:
x = "BANG"
y = "bang"
print("Python is " + x +" "+ y)

Python is BANG bang

##### Global variables

In [52]:
x = "awesome" # global

def myfunc():
    x = "fantastic" # local
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [1]:
x = "awesome" # global
print("Python is " + x)

def myfunc():
    y = "cool" # local
    global x
    x = "fantastic" #global inside funct
    print("Python is " + x)
    print("Python is " + y)
myfunc()
print("Python is " + x)

Python is awesome
Python is fantastic
Python is cool
Python is fantastic


#### data types

In [2]:
# Text Type:str
# Numeric Types:int, float, complex
# Sequence Types:list, tuple, range
# Mapping Type:dict
# Set Types:set, frozenset
# Boolean Type:bool
# Binary Types:bytes, bytearray, memoryview

###### setting data type

In [9]:
a = str("Hello World")
print(a)
print(type(a))

b = int(20)
print(b)
print(type(b))

c = float(20.5)
print(c)
print(type(c))

d = complex(1j)
print(d)
print(type(d))

e = list(("apple", "banana", "cherry"))
print(e)
print(type(e))

f = tuple(("apple", "banana", "cherry"))
print(f)
print(type(f))

g = range(6)
print(g)
print(type(g))

h = dict(name="John", age=36)
print(h)
print(type(h))

i = set(("apple", "banana", "cherry"))
print(i)
print(type(i))

j = frozenset(("apple", "banana", "cherry"))
print(j)
print(type(j))

k = True
print(k)
print(type(k))

l = b"Hello"
print(l)
print(type(l))

o = bool(5)
print(o)

m = bytearray(5)
print(m)
print(type(m))

n = memoryview(bytes(5))
print(n)
print(type(n))

Hello World
<class 'str'>
20
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'John', 'age': 36}
<class 'dict'>
{'cherry', 'apple', 'banana'}
<class 'set'>
frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>
True
<class 'bool'>
b'Hello'
<class 'bytes'>
True
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x000001A7C1520DC0>
<class 'memoryview'>

###### python numbers

In [16]:
x = 1
y = 2.8
z = 1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

###### convertion

In [17]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

###### random

In [19]:
import random

print(random.randrange(1, 10))

2

###### specify

In [22]:
x = int(1)  
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [23]:
x = float(1)     
y = float(2.8)   
z = float("3")   
w = float("4.2") 
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [24]:
x = str("s1") 
y = str(2)    
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

In [28]:
a = "Hello"
print(a)

Hello

In [32]:
a = "Hello, World!"
print(a[1])

e

In [34]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [35]:
a = "Hello, World!"
print(len(a))

13

In [36]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [37]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [38]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [39]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

###### Slicing

In [40]:
b = "Hello, World!"
print(b[2:5])

llo

###### Slice from the Start

In [41]:
b = "Hello, World!"
print(b[:5])

Hello

###### Slice to the End

In [44]:
b = "Hello, World!"
print(b[2:])

llo, World!

###### Negative Indexing

In [43]:
b = "Hello, World!"
print(b[-5:-2])

orl

###### Upper case

In [45]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

###### Lower Case

In [46]:
a = "Hello, World!"
print(a.lower())

hello, world!

###### Remove Whitespace

In [47]:
a = " Hello, World! "
print(a.strip())

Hello, World!

###### Replace string

In [48]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

###### Split string

In [2]:
a = "Hello, World!"
x = a.split(",")
print(a.split(","))
print(type(x))

['Hello', ' World!']
<class 'list'>

###### String Concatenation

In [52]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [53]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

###### Format Strings

In [5]:
#we cannot combine strings and numbers
#But we can combine strings and numbers by using the format() method!

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [7]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

###### Escape Characters

In [9]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [12]:
# \'   Single Quote
# \\   Backslash
# \n   New Line
# \r   Carriage Return
# \t   Tab
# \b   Backspace
# \f   Form Feed
# \ooo Octal value
# \xhh Hex value

###### String Method

In [13]:
#All string methods returns new values. They do not change the original string.

>**capitalize()**	Converts the first character to upper case

>**casefold()**	Converts string into lower case

>**center()**	Returns a centered string

>**count()**	Returns the number of times a specified value occurs in a string

>**encode()**	Returns an encoded version of the string

>**endswith()**	Returns true if the string ends with the specified value

>**expandtabs()**	Sets the tab size of the string

>**find()**	Searches the string for a specified value and returns the position of where it was found

>**format()**	Formats specified values in a string

>**format_map()**	Formats specified values in a string

>**index()**	Searches the string for a specified value and returns the position of where it was found

>**isalnum()**	Returns True if all characters in the string are alphanumeric

>**isalpha()**	Returns True if all characters in the string are in the alphabet

>**isdecimal()**	Returns True if all characters in the string are decimals

>**isdigit()**	Returns True if all characters in the string are digits

>**isidentifier()**	Returns True if the string is an identifier

>**islower()**	Returns True if all characters in the string are lower case

>**isnumeric()**	Returns True if all characters in the string are numeric

>**isprintable()**	Returns True if all characters in the string are printable

>**isspace()**	Returns True if all characters in the string are whitespaces

>**istitle()**	Returns True if the string follows the rules of a title

>**isupper()**	Returns True if all characters in the string are upper case

>**join()**	Joins the elements of an iterable to the end of the string

>**ljust()**	Returns a left justified version of the string

>**lower()**	Converts a string into lower case

>**lstrip()**	Returns a left trim version of the string

>**maketrans()**	Returns a translation table to be used in translations

>**partition()**	Returns a tuple where the string is parted into three parts

>**replace()**	Returns a string where a specified value is replaced with a specified value

>**rfind()**	Searches the string for a specified value and returns the last position of where it was found

>**rindex()**	Searches the string for a specified value and returns the last position of where it was found

>**rjust()**	Returns a right justified version of the string

>**rpartition()**	Returns a tuple where the string is parted into three parts

>**rsplit()**	Splits the string at the specified separator, and returns a list

>**rstrip()**	Returns a right trim version of the string

>**split()**	Splits the string at the specified separator, and returns a list

>**splitlines()**	Splits the string at line breaks and returns a list

>**startswith()**	Returns true if the string starts with the specified value

>**strip()**	Returns a trimmed version of the string

>**swapcase()**	Swaps cases, lower case becomes upper case and vice versa

>**title()**	Converts the first character of each word to upper case

>**translate()**	Returns a translated string

>**upper()**	Converts a string into upper case

>**zfill()**	Fills the string with a specified number of 0 values at the beginning

###### Booleans